# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.dio-coruse-api.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jhpj_\Documents\Projetos\dio-coruse-api\.idea\.idea.dio-coruse-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
