# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.dio-course-api.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\jhpj_\Documents\Projetos\dio-course-api\.idea\.idea.dio-course-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
